header {
    display: flex;
    padding: 8px 40px;
    background-color: #06AA48;
    justify-content: space-between;
    gap: 24px;
    color: white;
}

header>select {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #06AA48;
    color: white;
    outline-color: white;
    padding-inline: 16px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
}