header {
    display: flex;
    padding: 8px 40px;
    background-color: #06AA48;
    justify-content: space-between;
    gap: 24px;
    color: white;
}

header>select {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #06AA48;
    color: white;
    outline-color: white;
    padding-inline: 16px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 40px;
}

main section.classification {
    border-right: 1px solid rgb(199, 199, 199);
    padding-right: 24px;
}

main p {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-block: 10px;
}

main .classification>table {
    border-collapse: collapse;
}

main .classification>table th,
main .classification>table td {
    border-bottom: 1px solid rgb(199, 199, 199);
    text-align: center;

}

main .classification>table th {
    font-size: 12px;
    color: gray;
    font-weight: normal;
    height: 42px;
    border-bottom: 1px solid rgb(161, 161, 161);
}

main .classification>table td {
    font-size: 14px;
    height: 46px;
    color: rgb(41, 41, 41);
}

main .classification>table th:nth-child(1),
main .classification>table td:nth-child(1) {
    width: 280px;
    text-align: left;
    padding-inline: 4px;

    & div {
        display: flex;
        align-items: center;
        gap: 8px;

        & span:nth-child(3) {
            flex: 1;
            justify-content: end;
            align-items: center;
            gap: 4px;
            display: flex;
            font-size: 12px;
        }
    }
}

main .classification>table th:nth-child(2),
main .classification>table td:nth-child(2) {
    width: 50px;
}

main .classification>table th:nth-child(3),
main .classification>table td:nth-child(3) {
    width: 50px;
}

main .classification>table th:nth-child(4),
main .classification>table td:nth-child(4) {
    width: 50px;
}

main .classification>table th:nth-child(5),
main .classification>table td:nth-child(5) {
    width: 50px;
}

main .classification>table th:nth-child(6),
main .classification>table td:nth-child(6) {
    width: 50px;
}

main .classification>table th:nth-child(7),
main .classification>table td:nth-child(7) {
    width: 50px;
}

main .classification>table th:nth-child(8),
main .classification>table td:nth-child(8) {
    width: 50px;
}

main .classification>table th:nth-child(9),
main .classification>table td:nth-child(9) {
    width: 50px;
}

main .classification>table th:nth-child(10),
main .classification>table td:nth-child(10) {
    width: 50px;
}

main .classification>table th:nth-child(11),
main .classification>table td:nth-child(11) {
    width: 80px;

    & .dots {
        display: flex;
        justify-content: center;
        gap: 4px;
    }
}


main .classification>table td:nth-child(1) {
    font-size: 16px;
}

main .classification>table td:nth-child(2) {
    font-weight: bold;
}

main .classification>ul.legends {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
}

main .classification>ul.legends>li {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: gray;
}

main .rounds {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 24px;
}

main .round-selector {
    border-bottom: 1px solid rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .round-selector>p {
    font-size: 16px;
    border: none;
}

main .round-selector>img {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

main .round-selector>img:nth-child(1) {
    transform: rotate(180deg);
}

main .round-matches>.matche {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 16px;
    gap: 8px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

main .round-matches>.matche>.matche_infor {
    font-size: 12px;
    flex: 1;
    width: 80%;
    justify-content: space-evenly;
    display: flex;
}

main .round-matches>.matche>.matche_infor>.infor_time {
    font-weight: bold;
}

main .round-matches>.matche>.matche_teams {
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    align-items: center;
}

main .round-matches>.matche>.matche_teams>.team {
    justify-content: space-evenly;
    gap: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

main .round-matches>.matche>.matche_teams>.team img {
    width: 30px;
    height: 30px;
}

main .round-matches>.matche>.matche_teams>.team>.score {
    font-size: 20px;
    font-weight: bold;
}